<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SEP Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SEP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (User.IsInRole("CustomerCare"))
                    {
                        <li>@Html.ActionLink("Event", "Index", "Events")</li>
                    }
                    @if (User.IsInRole("FinancialManager"))
                    {
                        <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
                        <li>@Html.ActionLink("Budget Approval", "Index", "FinancialManager")</li>

                    }
                    @if (User.IsInRole("SeniorCustomerCare"))
                    {
                        <li>@Html.ActionLink("Manage Event", "Index", "ManageEvent")</li>
                    }

                    @if (User.IsInRole("AdminManager"))
                    {
                        <li>@Html.ActionLink("Approve Event", "Index", "ApproveEvent")</li>
                    }
                    @if (User.IsInRole("ProductionManager"))
                    {
                        <li>@Html.ActionLink("Events", "Index", "ManagerView")</li>
                        <li>@Html.ActionLink("Task", "Index", "TaskLists")</li>
                        <li>@Html.ActionLink("Request Resources", "Index", "Recruitments")</li>
                        <li>@Html.ActionLink("Budget Request", "Index", "Financials")</li>
                    }


                    @if (User.IsInRole("ServiceManager"))
                    {
                    <li>@Html.ActionLink("Events", "Index", "ManagerView")</li>
                    <li>@Html.ActionLink("Task", "Index", "ServiceTaskLists1")</li>
                    <li>@Html.ActionLink("Request Resources", "Index", "Recruitments")</li>
                    <li>@Html.ActionLink("Budget Request", "Index", "Financials")</li>
                    }

                    @if (User.IsInRole("HRManager"))
                    {
                        <li>@Html.ActionLink("Resources Needed", "Index", "HRManagerView")</li>
                        <li>@Html.ActionLink("Hiring Tracker", "Index", "HiringTrackers")</li>
                    }
                    @if (User.IsInRole("HRTeam"))
                    {

                        <li>@Html.ActionLink("Hiring Tracker", "Index", "TeamHiringTrackers")</li>
                    }

                    @if (User.IsInRole("ServiceTeamMember"))
                    {

                        <li>@Html.ActionLink("Task List", "Index", "ServiceTaskLists")</li>
                    }

                    @if (User.IsInRole("ProductionTeamMember"))
                    {

                        <li>@Html.ActionLink("Task List", "Index", "ProductionTaskList")</li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SEP Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
