@model IEnumerable<SEPApp.Models.ServiceTaskList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskFeedback)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskFeedback)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
           @Html.ActionLink("Details", "Details", new { id=item.TaskId }) 
        
        </td>
    </tr>
}

</table>
